*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #0086fb96;
    text-align: center;
}

main h1{
    margin-top: 15px;
}

.container{
    height: 70vh;
    display:flex;
    align-items: center;
    justify-content: center;
}

.game{
    height: 60vmin;
    width:60vmin;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.box{
    height: 17vmin;
    width: 17vmin;
    margin-left: 8px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 16px rgba(0,0,0,0.5);
    font-size: 10vmin;
    color: #7d37a5ee;
    background-color: #6cfbe5;
}

#reset-btn,#new-btn{
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: black;
}

#msg{
    color: rgb(0, 0, 0);
    font-size: 8vmin;
}

.msg-container{
    height:30vmin;
    margin-top: 20px;
}

.hide{
    display: none;
}